<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= pageTitle %></title>
    <style>
      body {
        margin: 0;
        padding: 0;
        background-image: url("../images/backgroundIMG.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        font-family: "Arial", sans-serif;
        color: white;
      }

      nav {
        padding: 10px;
        display: flex;
        justify-content: flex-end;
        background-color: #333;
      }

      nav a {
        color: white;
        text-decoration: none;
        padding: 10px;
        margin-right: 10px;
      }

      a {
        text-decoration: none;
        color: green;
      }

      a:hover {
        color: rgb(248, 232, 5);
      }

      h1 {
        text-align: center;
        margin-top: 20px;
        color: #fff; /* Change the color for better contrast */
      }

      table {
        width: 80%;
        margin: 20px auto; /* Center the table on the page */
        border-collapse: collapse;
      }

      th,
      td {
        padding: 15px;
        text-align: left;
        border-bottom: 1px solid #ddd;
      }

      th {
        background-color: #333;
        color: white;
      }

      td {
        background-color: #555;
      }

      .no-players {
        text-align: center;
        margin-top: 20px;
      }

      .no-players a {
        text-decoration: underline;
        color: #03f740; /* Change the color for better contrast */
      }

      .action-form {
        display: flex; /* Use flexbox to align buttons horizontally */
      }

      .action-form form {
        margin-right: 10px; /* Add margin between forms (buttons) */
      }

      .action-form button {
        background-color: #333;
        color: #fff;
        padding: 10px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 18px;
      }

      .action-form button:hover {
        background-color: #555;
      }
      .team-filter-form {
        text-align: center;
        margin-top: 10px; /* Center the form */
      }

      .team-filter-form select {
        padding: 10px; /* Increase padding to make it bigger */
        width: 200px; /* Set a fixed width or adjust as needed */
        margin-right: 10px; /* Add some space to the right of the dropdown */
      }

      .team-filter-form button {
        background-color: #333;
        color: #fff;
        padding: 10px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 18px;
      }
      .user-message {
        margin: auto;
        width: 30%;
        border: 1px solid #0629f1;
        background: #06f1f1;
        padding: 0.5rem;
        text-align: center;
        margin-top: 10px;
      }
      .user-message-error {
        border-color: red;
        background: #e68181;
        color: red;
      }
    </style>
  </head>
  <body>
    <nav>
      <a href="/">Home</a>
      <a href="/admin/add-player">Add Player</a>
      <a href="/user/logout">Logout</a>
    </nav>
    <% if(errorMessage){ %>
    <div class="user-message user-message-error"><%= errorMessage %></div>
    <% } %>
    <form
      action="/admin/players-by-team"
      method="POST"
      class="team-filter-form"
    >
      <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
      <select name="team">
        <option value="">Select Team</option>
        <option value="CSK">Chennai Super Kings</option>
        <option value="MI">Mumbai Indians</option>
        <option value="RCB">Royal Challengers Bangalore</option>
        <option value="DC">Delhi Capitals</option>
        <option value="PBKS">Punjab Kings X1</option>
        <option value="KKR">Kolkatta Knight Riders</option>
        <option value="RR">Rajastan Royals</option>
        <option value="SRH">Sunrisers Hyderabad</option>
        <option value="GT">Gujarat Titans</option>
        <option value="LSG">Lucknow Super Giants</option>
      </select>
      <button type="submit">Get Team Players</button>
    </form>
    <% if(team) { %>
    <h1>All Time <%= team %> Playing X1 By <%= user %>:</h1>
    <hr />
    <% if (players.length > 0) { %>
    <table>
      <tr>
        <!-- <th>ID</th> -->
        <th>Player Name</th>
        <th>Jersey No</th>
        <th>Role</th>
        <th>Price</th>
        <th>Actions</th>
        <!-- New column for actions -->
      </tr>
      <% for (let player of players) { %>
      <tr>
        <!-- <td><%= player._id %></td> -->
        <td><%= player.playername %></td>
        <td><%= player.jerseyno %></td>
        <td><%= player.role %></td>
        <td><%= player.price %> Cr</td>
        <td class="action-form">
          <!-- <form action="/admin/update-player?playerid=<%= player.id %>" method="GET">
                            <button type="submit">Update</button>
                        </form>
                        <form action="/admin/delete-player?playerid=<%= player.id %>" method="GET">
                            <button type="submit">Delete</button>
                        </form> -->
          <form action="/admin/update-player/<%= player._id %>" method="GET">
            <button type="submit">Update</button>
          </form>

          <form action="/admin/delete-player/<%= player._id %>" method="POST">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
            <button type="submit">Delete</button>
          </form>
        </td>
      </tr>
      <% } %>
    </table>
    <% } else { %>
    <div class="no-players">
      <h1>No Players Found...<a href="/admin/add-player">Add One</a></h1>
    </div>
    <% } %> <% } else { %>
    <h1>
      Hi <%= user %>! Please Select the team to View your All Time Playing X1
    </h1>
    <hr />
    <% } %>
  </body>
</html>
